<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezreal.infrastructure.mapper.MedicalPatientMapper">

    <resultMap id="BaseResultMap" type="com.ezreal.infrastructure.po.MedicalPatient">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="age" column="age" jdbcType="INTEGER"/>
            <result property="birthday" column="birthday" jdbcType="TIMESTAMP"/>
            <result property="height" column="height" jdbcType="DECIMAL"/>
            <result property="weight" column="weight" jdbcType="DECIMAL"/>
            <result property="sickReason" column="sick_reason" jdbcType="VARCHAR"/>
            <result property="sickHistory" column="sick_history" jdbcType="VARCHAR"/>
            <result property="department" column="department" jdbcType="TINYINT"/>
            <result property="healthMonitor" column="health_monitor" jdbcType="VARCHAR"/>
            <result property="location" column="location" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,name,
        email,age,birthday,
        height,weight,sick_reason,
        sick_history,department,health_monitor,
        location,create_time,update_time
    </sql>
    <select id="selectByUserId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from medical_patient
        where
        user_id = #{userId,jdbcType=NUMERIC}
    </select>
    <select id="queryPatientInfoList" resultType="com.ezreal.infrastructure.po.MedicalPatient">
        select <include refid="Base_Column_List"/>
            from medical_patient
        <where>
            <if test="request.departmentId != null">
                department= #{request.departmentId}
            </if>
            <if test="request.name != null">
                and `name` like concat('%', #{request.name}, '%')
            </if>
        </where>
        order by create_time desc
        limit #{request.pageNo}, #{request.pageSize}
    </select>
    <select id="queryPatientInfoListCount" resultType="java.lang.Long">
        select count(*)
        from medical_patient
        <where>
            <if test="request.departmentId != null">
                department= #{request.departmentId}
            </if>
            <if test="request.name != null">
                and `name` like concat('%', #{request.name}, '%')
            </if>
        </where>
    </select>
    <insert id="insertSelective">
        insert into medical_patient
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="name != null">name,</if>
            <if test="email != null">email,</if>
            <if test="age != null">age,</if>
            <if test="birthday != null">birthday,</if>
            <if test="height != null">height,</if>
            <if test="weight != null">weight,</if>
            <if test="sickReason != null">sick_reason,</if>
            <if test="sickHistory != null">sick_history,</if>
            <if test="department != null">department,</if>
            <if test="healthMonitor != null">health_monitor,</if>
            <if test="location != null">location,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="userId != null">#{userId,jdbcType=BIGINT},</if>
            <if test="name != null">#{name,jdbcType=VARCHAR},</if>
            <if test="email != null">#{email,jdbcType=VARCHAR},</if>
            <if test="age != null">#{age,jdbcType=INTEGER},</if>
            <if test="birthday != null">#{birthday,jdbcType=TIMESTAMP},</if>
            <if test="height != null">#{height,jdbcType=DECIMAL},</if>
            <if test="weight != null">#{weight,jdbcType=DECIMAL},</if>
            <if test="sickReason != null">#{sickReason,jdbcType=VARCHAR},</if>
            <if test="sickHistory != null">#{sickHistory,jdbcType=VARCHAR},</if>
            <if test="department != null">#{department,jdbcType=TINYINT},</if>
            <if test="healthMonitor != null">#{healthMonitor,jdbcType=VARCHAR},</if>
            <if test="location != null">#{location,jdbcType=VARCHAR},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <update id="updateSelective">
        update medical_patient
        <set>

            <if test="name != null">name=#{name,jdbcType=VARCHAR},</if>
            <if test="age != null">age=#{age,jdbcType=NUMERIC},</if>
            <if test="birthday != null">birthday=#{birthday,jdbcType=TIMESTAMP},</if>
            <if test="height != null">height=#{height,jdbcType=DECIMAL},</if>
            <if test="weight != null">weight=#{weight,jdbcType=DECIMAL},</if>
            <if test="sickReason != null">sick_reason=#{sickReason,jdbcType=VARCHAR},</if>
            <if test="sickHistory != null">sick_history=#{sickHistory,jdbcType=VARCHAR},</if>
            <if test="department != null">department=#{department,jdbcType=NUMERIC},</if>
            <if test="healthMonitor != null">health_monitor=#{healthMonitor,jdbcType=VARCHAR},</if>
            <if test="location != null">location=#{location,jdbcType=VARCHAR},</if>
            <if test="createTime != null">create_time=#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">update_time=#{updateTime,jdbcType=TIMESTAMP},</if>
        </set>
        where user_id = #{userId,jdbcType=NUMERIC}
    </update>
</mapper>
