<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezreal.infrastructure.mapper.MedicalReservationMapper">

    <resultMap id="BaseResultMap" type="com.ezreal.infrastructure.po.MedicalReservation">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="patientId" column="patient_id" jdbcType="BIGINT"/>
            <result property="doctorId" column="doctor_id" jdbcType="BIGINT"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="reservation" column="reservation" jdbcType="VARCHAR"/>
            <result property="beginTime" column="begin_time" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="end_time" jdbcType="TIMESTAMP"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,patient_id,doctor_id,
        status,reservation,begin_time,
        end_time,create_time,update_time
    </sql>
    <insert id="insertSelective">
        insert into medical_reservation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="patientId != null">patient_id,</if>
            <if test="doctorId != null">doctor_id,</if>
            <if test="status != null">status,</if>
            <if test="reservation != null">reservation,</if>
            <if test="beginTime != null">begin_time,</if>
            <if test="endTime != null">end_time,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=BIGINT},</if>
            <if test="patientId != null">#{patientId,jdbcType=BIGINT},</if>
            <if test="doctorId != null">#{doctorId,jdbcType=BIGINT},</if>
            <if test="status != null">#{status,jdbcType=TINYINT},</if>
            <if test="reservation != null">#{reservation,jdbcType=VARCHAR},</if>
            <if test="beginTime != null">#{beginTime,jdbcType=TIMESTAMP},</if>
            <if test="endTime != null">#{endTime,jdbcType=TIMESTAMP},</if>
            <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
            <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    <select id="queryByPatientId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from medical_reservation
        where
        patient_id = #{patientId,jdbcType=NUMERIC}
    </select>
</mapper>
